<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bikie"
        tools:targetApi="31">
        <activity
            android:name=".Users.UserDashboard"
            android:exported="false" />
        <activity
            android:name=".Users.BookVehicles"
            android:exported="false" />
        <activity
            android:name=".Admin.Edit_Listed_Vehicle"
            android:exported="false" />
        <activity
            android:name=".Admin.Listed_Vehicles"
            android:exported="false" />
        <activity
            android:name=".Admin.AddNewVehicle"
            android:exported="false" />
        <activity
            android:name=".Singup_Login.Login"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".Singup_Login.SingupDL"
            android:exported="false" />
        <activity
            android:name=".Singup_Login.SignupAadhar"
            android:exported="false" />
        <activity
            android:name=".Singup_Login.OtpVerification"
            android:exported="false" />
        <activity
            android:name=".Singup_Login.Signup"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>